In [1]:
# Assignment 01
## Course: Artificial Intelligence Ramadan Camp Course
## Student Name: Hizar Ali

In [2]:
## Task 1: Print Twinkle Twinkle Poem

In [3]:
print("""Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are""")

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are

In [4]:
## Task 2: Display Python Version

In [5]:
import sys
print("Python Version:", sys.version)

Python Version: 3.13.1 (main, Apr 30 2025, 11:41:46) [Clang 20.0.0git (https:/github.com/llvm/llvm-project 1d810ece2b2c8fab7772049386

In [6]:
## Task 3: Display Current Date and Time

In [7]:
import datetime
now = datetime.datetime.now()
print("Current Date and Time:", now)

Current Date and Time: 2026-02-28 14:51:35.424000

In [8]:
## Task 4: Calculate Area of Circle

In [9]:
radius = float(input("Enter radius: "))
area = 3.1416 * radius * radius
print("Area of Circle:", area)

Enter radius:  45

Area of Circle: 6361.74

In [10]:
## Task 5: Reverse First and Last Name

In [11]:
first = input("Enter First Name: ")
last = input("Enter Last Name: ")
print("Reversed Name:", last, first)

Enter First Name:  hizar
Enter Last Name:  ali

Reversed Name: ali hizar

In [12]:
## Task 6: Addition of Two Numbers

In [13]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Sum:", num1 + num2)

Enter first number:  5
Enter second number:  8

Sum: 13.0

In [14]:
## Task 7: Marks Sheet with Grades

In [15]:
total = 0
for i in range(5):
    marks = float(input(f"Enter marks for subject {i+1}: "))
    total += marks

average = total / 5

if average >= 80:
    grade = "A"
elif average >= 70:
    grade = "B"
elif average >= 60:
    grade = "C"
elif average >= 50:
    grade = "D"
else:
    grade = "F"

print("Total Marks:", total)
print("Average:", average)
print("Grade:", grade)

Enter marks for subject 1:  67
Enter marks for subject 2:  89
Enter marks for subject 3:  56
Enter marks for subject 4:  98
Enter marks for subject 5:  45

Total Marks: 355.0
Average: 71.0
Grade: B

In [16]:
## Task 8: Check Even or Odd

In [17]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Enter a number:  6

The number is Even